# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Output of the go coverage tool, specifically when used with LiteIDE
*.cover

# Dependency directories (remove the comment below if you use Go modules)
vendor/

# Go workspace file
*.code-workspace

# IDE / Editor directories
.vscode/
.idea/
*.swp
*.swo
*.sublime-workspace
*.sublime-project

# MacOS specific
.DS_Store

# Logs
*.log

dist/